:root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr
}

.nav-list {
    list-style: none;
}